%h1 About HA
%h2 Hacker Academy Execs:

%table
  %thead
    %tr
      %th Han Jiang
      %th Rafal Dittwald
      %th James N V Cash
  %tbody
    %tr
      %td
        %p
          NET Talk Organizer
          HA Management and Funding
      %td
        %p
          Master of all things web
      %td
        %p
          Overly-opinionated coding lunatic

%p Hacker Academy is an organization that gives weekly NET Talks (News, Engineering, Technology), and hold monthly programming competitions. HA offers members the opportunity present their deepest interested in technology, engineering, and design, while sharing their knowledge and expertise with everyone. The goals of HA are to promotes public speaking, brings people of common interest in technology together, and educate people in non-academic field of technology and engineering.

%p
  As engineers in training, we believe that it is imperative for students not only perform well academically but also be consistently aware of what is happening in the actually technical/engineering industry. HA provides an environment for students to share technical news, knowledge, and expertise with everyone and anyone that is willing to learn. HA’s goals are:
  %ol
    %li Bring people of common technical and engineering interests together
    %li Raise awareness of what is the latest and greatest in the world of technology
    %li Apply what you learnt academically for something useful

%h2 Meeting Time and Location: TBA
