.featured
  %p
    We are hackers: immensely curious individuals who enjoy exploring the details of systems and stretching their capabilities. 
  %p  
    We want to bring the passion and community of the original <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)">hacker subculture</a> back to academia, starting with UofT.

%h1 The Club
   
%p 
  Hacker Academy is a student community at the University of Toronto. We attract students of common technical interests and promote an environment of curiosity, learning and sharing of knowledge. 
  
%p
  Through our weekly <a href="/talks">talks</a> and monthly <a href="/dojo">programming competitions</a>, HA presents members with the opportunity to explore their interests in technology and share their knowledge and expertise with others. We want the builders of future hardware and software systems to have a chance to apply what they are learning in school and stay up to date with what is happening in industry.

%h1 The Team

%p
  Hacker Academy is brought to you by the following humans:

%h2 Han Jiang, NETtalk Logistics and Finances
= image_tag 'ha_han.jpg'

%h2 James N V Cash, Dojo Master
= image_tag 'ha_james.jpg'
  
%h2 Rafal Dittwald, Spirit, Marketing and Miscellanea    
= image_tag 'ha_raf.jpg'

%br
%br
%br

%p
  We're always looking for new team members; <a href="/contact">let us know</a> if you want to help.
  


%h1 History

Hacker Academy started in the summer of 2009, as a group of students work to increase the web services offered by the engineering society. In the summer of 2010, we held a mock incubator, with students learning web development and trying to build apps. Our efforts are now focused on maintaining a strong community, built around sharing knowledge and challenging each other to learn new things.