.featured
  %p
    For general questions and comments <br /> email us at:
    %a(href="mailto:info@hackeracademy.org" class="email") info@hackeracademy.org

  You can also catch up with us in person at one of our <a href="/schedule">events</a>. We'd love to chat.

%br
  
%p
  For sponsorship, advertising, NET talks, and club logistics, contact:
  %blockquote
    Han Jiang <br />
    han.jiang@utoronto.ca <br />
    647-866-1752 (Cell) <br />
    905-882-2600 ex 6378 (Work)