%h1 Contact
%p
  For questions, requests and comments for anything HA related please send E-mail to:
  %a(mailto="info@hackeracadmey.org") info@hackeracadmey.org

%h2 NET Talk Requests:
%p Please talk to HA organizers in person. You can arrange appointment via E-mail, or attend HA’s weekley meetings.
