.featured
  %p
    For questions, talk requests and comments email us at:
    %a(href="mailto:info@hackeracademy.org" class="email") info@hackeracademy.org

  You can also catch up with us in person at one of our <a href="/schedule">events</a>. We'd love to chat.