.featured
  We are a community of students <br />
  who foster the <a href="/about">hacker</a> spirit <br />
  and nurture future engineers. <br />
  <br />
  Attend our weekly <a href="/talks">talks</a>; <br />
  learn something awesome, <br />
  and share what you know. <br />
  <br />
  Compete in our monthly <a href="/dojo">dojo</a> <br />
  and sharpen your code-fu; <br />
  beginners welcome! <br />
  <br />

-# or join our <a href="#">mailing list</a>.