.featured
  We are a community of students <br />
  who foster the <a href="/about">hacker</a> spirit <br />
  and nurture future engineers. <br />
  <br />
  Attend our weekly <a href="/talks">talks</a>; <br />
  learn something awesome, <br />
  and share what you know. <br />
  <br />
  Compete in our monthly <a href="/dojo">dojo</a> <br />
  and sharpen your code-fu; <br />
  beginners welcome! <br />
  <br />

-# or join our <a href="#">mailing list</a>.
.fbwrappper(style="overflow:hidden;height: 230px; width: 340px;")
  <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FHacker-Academy%2F233826676647237&amp;width=340&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23E6E6E6&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:258px; background: #E6E6E6;" allowTransparency="true"></iframe>
