.featured
  We are a community of students <br />
  who foster the <a href="http://en.wikipedia.org/wiki/Hacker_(programmer_subculture)">hacker</a> spirit <br />
  and nurture future engineers. <br />
  <br />
  Attend our weekly <a href="#">talks</a>; <br />
  learn something awesome, <br />
  and share what you know. <br />
  <br />
  Compete in our monthly <a href="#">dojo</a> <br />
  and sharpen your code-fu; <br />
  beginners welcome! <br />
  <br />
  Join our <a href="#">mailing list</a> for updates.
   