%h1 Leaderboard
%ol
  - User.find(:all).sort_by(&:total_score).reverse.each do |user|
    - unless user.is_admin
      %li
        = link_to user.name, user
        = " Lvl. #{user.level} [#{user.total_score}pts]"

