%h1 NET Talks
%p
  For NET Talk Schedule, click
  %a(href="/page/schedules") here

%h2 What is NET Talk?
%p NET – News, Engineering, Technology Talk, is a series of talks organized by the Hackers Academy (HA) to educate and inform the people who wish to stay update on the science and technology industry, while learning new ideas and concepts behind engineering and design principles.

%h2 Primary goals of NET Talks are:
%ul
  %li Introduce technology awareness to everyone, especially people in the field of engineering and applied sciences
  %li Promote public speaking
  %li Help people develop new skills and experience
  %li Bring people of common interest in technology together

%h2 Who is talking?
%dl
  %dt You.
  %dd NET Talk welcomes everyone and anyone with an interest in technology and engineering to talk about their experience and expertise.
  %dt HA Organizers.
  %dd Dont feel like talking? HA organizers has a series of NET Talks prepared to keep you entertained.
  %dt Guest Speakers.
  %dd HA invites people from the four corners of the world to present their expertise and experience in the technology industry.

%h2 What Can I Talk About?
%dl
  %dt News Talk
  %dd the most recent and update news in the world of technology

  %dt Tech Talk
  %dd Educate the audience about some cool technology such as how it works, the design principles, market and business etc.
  %dt Educational Talk
  %dd teach the audience something that they can use such as staring a web site, creating an iPhone app, build your own race car model, creating animation etc.

  %dt Experience Talk
  %dd if the you have an expertise in something technical related, you can talk about your work, the environment, ethics, industry, entrepreneurial experience, life lessons and etc.

%p The format and presentation style is completely up to the speaker. We encourage the speaker to be as innovative as possible when presenting their topic.

%h2 How do I get my NET Talk?

%p To get your talk, simply contact HA organizers to get your NET Talk topic approved.

%h3 Basic Requirements:
%ol
  %li Use common sense when picking your topic. We encourage all talks to be technology and engineering related. Topics such as rumors, speculations, politics, sports, piracy, and questionable content should be avoided.
  %li Provide sources. HA tries to keep NET Talks as open as possible, but we don't just allow any Joe sixpack to give talks. All talks require legitimate sources. It can be an article you read, textbook material, newspaper, previous projects, etc. Only when HA organizers verified validity of the content, you can go ahead with your talk. We do this to make sure that content being presented is legit and will not mislead the audience.

%h2 NET Talk Topics
%table
  %thead
    %tr
      %th Topic
      %th Speaker
      %th Date
      %th Resources
  %tbody
    %tr
      %td Intro to NET Talks
      %td Han Jiang
      %td Sept 21st 2011
      %td
        %a(href="/page/net_talk") This page
