.featured
  %p
    Something is happening every Tuesday, except for breaks and holidays.
    Once a month we hold the <a href="/dojo">dojo</a>, while all other weeks are <a href="/talks">talks</a>.

%dl
  %dt 2011
  %dd Sep 20 - HA Fall Orientation, Cloud: the next big thing in technology.
  %dd Sep 27 - Overview of Web Development
  %dd Oct &nbsp;&nbsp;4 - Version Control Primer, Intro to Mobile Operating Systems
  %dd Oct 11 - <a href="/dojo">Dojo</a>
  %dd Oct 18 - How to build a PC
  %dd Oct 25 - Talks: TBD
  %dd Nov &nbsp;&nbsp;1 - Talks: TBD
  %dd Nov &nbsp;&nbsp;12 - <a href="/dojo">Dojo</a>
  %dd Nov 15 - Talks: TBD
  %dd Nov 22 - Talks: TBD
  %dd Nov 29 - Talks: TBD
  %dt 2012
  %dd Jan 10 - HA Spring Orientation, Talks: TBD
  %dd Jan 21 - <a href="/dojo">Dojo</a>
  %dd Jan 24 - Talks: TBD
  %dd Jan 31 - Talks: TBD
  %dd Feb &nbsp;&nbsp;7 - Talks: TBD
  %dd Feb 18 - <a href="/dojo">Dojo</a>
  %dd Feb 28 - Talks: TBD
  %dd Mar &nbsp;&nbsp;6 - Talks: TBD
  %dd Mar 13 - Talks: TBD
  %dd Mar 24 - <a href="/dojo">Dojo</a>
  %dd Mar 27 - Talks: TBD
  %dd Apr &nbsp;&nbsp;3 - Talks: TBD

