%p
  Something is happening every Wednesday, except for breaks and holidays. 
  Once a month we hold the <a href="/dojo">dojo</a>, while all other weeks are <a href="/talks">talks</a>.
 
%dl
  %dt 2011
  %dd Sep 21 - HA Fall Orientation, Talks: TBD
  %dd Sep 28 - Talks: TBD
  %dd Oct &nbsp;&nbsp;5 - Talks: TBD
  %dd Oct 12 - <a href="/dojo">Dojo</a>
  %dd Oct 19 - Talks: TBD
  %dd Oct 26 - Talks: TBD
  %dd Nov &nbsp;&nbsp;2 - Talks: TBD
  %dd Nov &nbsp;&nbsp;9 - <a href="/dojo">Dojo</a>  
  %dd Nov 16 - Talks: TBD
  %dd Nov 23 - Talks: TBD
  %dd Nov 30 - Talks: TBD
  %dt 2012
  %dd Jan 11 - HA Spring Orientation, Talks: TBD
  %dd Jan 18 - <a href="/dojo">Dojo</a> 
  %dd Jan 25 - Talks: TBD
  %dd Feb &nbsp;&nbsp;1 - Talks: TBD
  %dd Feb &nbsp;&nbsp;8 - Talks: TBD
  %dd Feb 15 - <a href="/dojo">Dojo</a> 
  %dd Feb 29 - Talks: TBD
  %dd Mar &nbsp;&nbsp;7 - Talks: TBD
  %dd Mar 14 - Talks: TBD
  %dd Mar 21 - <a href="/dojo">Dojo</a> 
  %dd Mar 28 - Talks: TBD
  %dd Apr &nbsp;&nbsp;4 - Talks: TBD