%h1 Fall 2011 Schedule
%table
  %thead
    %tr
      %th Date
      %th Event
      %th Speaker
      %th Resources
  %tbody
    %tr
      %td Sept 21st 2011
      %td
        %ul
          %li HA Orientation
          %li NET Talk #1 Topic TBA
      %td HA Staff
      %td
        %a(href="http://www.hackeracademy.org") http://www.hackeracademy.org
    %tr
      %td Sept 28th 2011
      %td
        %ul
          %li NET Talk #2 Topic TBA
      %td TBA
      %td
    %tr
      %td Oct 5th 2011
      %td
        %ul
          %li  NET Talk #3 Topic TBA
      %td TBA
      %td
    %tr
      %td Oct 12th 2011
      %td
        %ul
          %li  Contest #1
      %td N/A
      %td
    %tr
      %td Oct 19th 2011
      %td
        %ul
          %li  NET Talk #4 Topic TBA
      %td TBA
      %td
    %tr
      %td Oct 26th 2011
      %td
        %ul
          %li NET Talk #5 Topic TBA
      %td TBA
      %td
    %tr
      %td Nov 2nd 2011
      %td
        %ul
          %li NET Talk #6 Topic TBA
      %td TBA
      %td
    %tr
      %td Nov 9th 2011
      %td
        %ul
          %li  Contest #2
      %td TBA
      %td
    %tr
      %td Nov 16th 2011
      %td
        %ul
          %li  NET Talk #7 Topic TBA
      %td TBA
      %td
    %tr
      %td Nov 23rd 2011
      %td
        %ul
          %li  NET Talk #8 Topic TBA
      %td TBA
      %td
    %tr
      %td Nov 30th 2011
      %td
        %ul
          %li  NET Talk #9 Topic TBA
      %td TBA
      %td
    %tr
      %td(colspan="4") Enjoy Your Exams and Holidays! See You Next Term!
    %tr
      %td Jan 11th 2012
      %td
        %ul
          %li HA Spring Orientation
          %li NET Talk #10 Topic TBA
      %td TBA
      %td
        %a(href="http://www.hackeracademy.org") http://www.hackeracademy.org
    %tr
      %td Jan 18th 2012
      %td
        %ul
          %li Contest #3
      %td TBA
      %td
    %tr
      %td Jan 25th 2012
      %td
        %ul
          %li NET Talk #11 Topic TBA
      %td TBA
      %td
    %tr
      %td Feb 1st 2012
      %td
        %ul
          %li NET Talk #12 Topic TBA
      %td TBA
      %td
    %tr
      %td Feb 8th 2012
      %td
        %ul
          %li NET Talk #13 Topic TBA
      %td TBA
      %td
    %tr
      %td Feb 15th 2012
      %td
        %ul
          %li Contest #4
      %td TBA
      %td
    %tr
      %td(colspan="4") Enjoy Your Well Deserved Reading Week!
    %tr
      %td Feb 29th 2012
      %td
        %ul
          %li NET Talk #14 Topic TBA
      %td TBA
      %td
    %tr
      %td March 7th 2012
      %td
        %ul
          %li NET Talk #15 Topic TBA
      %td TBA
      %td
    %tr
      %td March 14th 2012
      %td
        %ul
          %li NET Talk #16 Topic TBA
      %td TBA
      %td
    %tr
      %td March 21st 2012
      %td
        %ul
          %li Contest #5
      %td TBA
      %td
    %tr
      %td March 28th 2012
      %td
        %ul
          %li NET Talk #17 Topic TBA
      %td TBA
      %td
    %tr
      %td April 4th 2012
      %td
        %ul
          %li NET Talk #18 Topic TBA
      %td TBA
    %tr
      %td(colspan="4") Good Luck in Exams! See you Next Term!


