

Talks happen every Wednesday, except for Dojo days.
  
  
  Oct 12th 2011
        Contest #1
  
    
       Sept 21st 2011
          HA Orientation
          
          NET Talk #1 Topic TBA HA Staff
      
        Sept 28th 2011
          NET Talk #2 Topic TBA
     
      
    
       Oct 5th 2011
        NET Talk #3 Topic TBA
      
      
      
      Oct 12th 2011
            Contest #1
      
    
       Oct 19th 2011
            NET Talk #4 Topic TBA
      
    
       Oct 26th 2011
      
        
           NET Talk #5 Topic TBA

       Nov 2nd 2011
      
        
           NET Talk #6 Topic TBA
    
       Nov 9th 2011
      
        
            Contest #2
    
       Nov 16th 2011
      
        
            NET Talk #7 Topic TBA
      
    
       Nov 23rd 2011
      
        
            NET Talk #8 Topic TBA

    
       Nov 30th 2011
      
        
            NET Talk #9 Topic TBA
    
       Jan 11th 2012
      
  
           HA Spring Orientation
           NET Talk #10 Topic TBA

       Jan 18th 2012
           Contest #3
  
    
       Jan 25th 2012        
           NET Talk #11 Topic TBA

      
    
       Feb 1st 2012
            
           NET Talk #12 Topic TBA

    
       Feb 8th 2012
      
        
           NET Talk #13 Topic TBA

    
       Feb 15th 2012
          
           Contest #4
    
 
  
       Feb 29th 2012
      
        
           NET Talk #14 Topic TBA
    
    
       March 7th 2012
      
        
           NET Talk #15 Topic TBA
   
      
    
       March 14th 2012
      
        
           NET Talk #16 Topic TBA

       March 21st 2012
      
        
           Contest #5
    
    
       March 28th 2012
      
        
           NET Talk #17 Topic TBA

    
       April 4th 2012
      
        
           NET Talk #18 Topic TBA

