.featured
  %p
    Something is happening every Tuesday, except for breaks and holidays.
    Once a month we hold the <a href="/dojo">dojo</a>, while all other weeks are <a href="/talks">talks</a>.

%dl
  %dt 2011
  %dd Sep 20 - <a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B7aGCBoZiNWkNTFiMWQ3YmMtNWU0My00NDJhLTg3YWMtNzE4NTNkYzA4Y2U3&hl=en_US">HA Fall Orientation</a>, <a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B7aGCBoZiNWkMDRlNzk2MjYtNzg4Mi00Njk1LWEwZDQtMDg0ZTlmZDJjYmZl&hl=en_US">Cloud: the next big thing in technology.</a>
  %dd Sep 27 - Overview of Web Development
  %dd Oct &nbsp;&nbsp;4 - Programming Languages, <strike>Development Environments</strike>
  %dd Oct 15 - <a href="/dojo">Dev Dojo</a>
  %dd Oct 18 - <a href="http://pawelchomicki.com/content/Git-Talk">Introduction to Version Control Using Git, by Pawel Chomicki</a>
  %dd Oct 25 - <a href="https://docs.google.com/open?id=0B7aGCBoZiNWkMDBmNzQzNmYtMzI3MC00M2Y1LWEyMzktNTk5YzE2ZDQ1Yzc5">PC Hardware 101</a>
  %dd Nov &nbsp;&nbsp;1- Racecar Vehicle Dynamics, by Amanda Santos
  %dd Nov 12 - <a href="/dojo">Dev Dojo</a>
  %dd Nov 15 - <a href="https://docs.google.com/open?id=0B7aGCBoZiNWkZmQxOGNlZDYtN2FiZi00OTUxLThmZjgtOGQ1MjlkZjBjODZh">Overclocking</a>
  %dd Nov 22 - Web security
  %dd Nov 29 - <a href="https://docs.google.com/open?id=0B7aGCBoZiNWkMjhlNTU1MWEtMjJiMC00OWU5LWIxNTgtMDIzZjkzZjU3OGFk">Christmas Special: Scams and Myth in Technology</a>
  %dt 2012
  %dd Jan 10 - <a href="https://docs.google.com/open?id=0B7aGCBoZiNWkZjEzM2VjYmQtMmMwNi00MTFjLTk0ZDMtZWY4NTgzMGU2NDdl">HA Spring Orientation, Tablets</a>
  %dd Jan 17 - Acing Technical Interviews
  %dd Jan 24 - A Whirlwind Tour of Programming Languages
  %dd Jan 31 - Computer Cooling, by Evan Andersen
  %dd Feb &nbsp;&nbsp;4 - <a href="/dojo">Dev Dojo</a>
  %dd Feb &nbsp;&nbsp;8 - Web, Entrepreneurship, Technology Discussion Panel
  %dd Feb 14 - Roberto's Talk
  %dd Mar &nbsp;&nbsp;3 - <a href="/dojo">Dev Dojo</a>
  %dd Mar &nbsp;&nbsp;6 - Javascript Animation, by Adam Hueniken
  %dd Mar 13 - Talks: TBD
  %dd Mar 20 - Talks: TBD
  %dd Mar 31 - <a href="/dojo">Dev Dojo</a>
  %dd Apr &nbsp;&nbsp;3 - End of Year Special

