.featured
  %p
    A huge thanks to our awesome sponsors:
  %dl
    %dt NewEgg.ca
    %dd
    %dt Microsoft
    %dd
    %dt Toronto Computers & GTA Cellular World
    %dd
    %dt UofT Engineering Society
    %dd
    %dt UofT Engineering Alumni
    %dd



%br
%br
%h1 About Sponsorships
%p
  Interested in sponsoring Hacker Academy?  We can offer your organization a variety of services in return for sponsorship:

%dl
  %dt Logo Placements:
  %dd HA will display your corporate/organization logo across most of our distribution material to inform our members of your generosity (posters, website, social media, flyers)

  %dt Promotional Opportunities:
  %dd Advertise and hand out swag at our NET Talks, Dev Dojo, and other special events to promote your organization

  %dt Academic Relations:
  %dd Looking for talent? HA members are some of the most talented developers and future engineers at UofT. We can organize recruiting events in your name to acquire potential talent leads.

%h2 Useful Statistics
%ul
  %li Digest emails reach 5000 engineering students of all disciplines (Chemical, Electrical, Material Science, Civil, Industrial, Mechanical, Computer, Engineering Science, Mineral)
  %li Largest and oldest formal engineering organization in Canada
  %li PEY (Professional Experience Year) employs over 600 students in world’s top engineering companies such as Microsoft, AMD, IBM, Qualcomm, RIM, Altera, and Microsemi
  %li Bulletin boards spanning across 16 engineering buildings
  %li HA is composed mostly of Computer/Electrical, Engineering Science, and Computer Science students
  %li HA’s previous track record had over 100 members with no funding and seldom advertising. HA is optimistic on consistent membership growth over next year
  %li Club fair event houses existing students in addition to 1400 freshman

%p
  If you have any questions regarding sponsoring Hacker Academy, please <a href="/contact">contact us</a> and we will be looking forward to working with you and discuss opportunities that suits your interests!
