.featured
%p
A huge thanks to our awesome sponsors:
%dl
%br
%dt <a href="http://www.newegg.ca">Newegg Canada</a>
%dd Newegg is Hacker Academy’s exclusive e-retailer partner. Newegg is a world leading e-retailer of computer hardware and consumer electronics. We work closely with Newegg to provide our members with the best deals on computing hardware and electronics! We are proud to have Newegg on board with Hacker Academy!
%br

“With more than 570,000 products and an award-winning web site, Newegg earns the loyalty of tech-enthusiasts and novice e-shoppers alike. We equip our customers with state of the art decision-making resources such as detailed specs, how-to’s, 2 million customer reviews, and high resolution photo galleries.”
%br
= link_to image_tag( 'newegg_logo.png'), 'http://www.newegg.ca'
%br
%br
%dt <a href="http://www.amd.com">Advanced Micro Devices</a>
%dd "AMD (NYSE: AMD) is a semiconductor design innovator leading the next era of vivid digital experiences with its groundbreaking AMD Accelerated Processing Units (APUs) that power a wide range of computing devices. AMD’s server computing products are focused on driving industry-leading cloud computing and virtualization environments. AMD’s superior graphics technologies are found in a variety of solutions ranging from game consoles, PCs to supercomputers."
%br
AMD is one of U of T's biggest employer in the PEY internship program which hires more than 200 U of T students annually.
%br
= link_to image_tag( 'amd_logo.jpg'), 'http://www.amd.com'
%br
%br
%dt <a href="http://www.microsoft.com/university">Microsoft</a>
%ddHacker Academy works with Microsoft to bring you opportunities to work for one of world’s best company! At Microsoft, you’ll get the best on-the-job training in the world, while surrounded by some of the smartest, most talented people in the world. Whether you are a student seeking for internship, or a graduate student looking to improve your portfolio, there will always be an opportunity for you at Microsoft!
%br

Find out a lot more info on Microsoft’s recruitment website!
%br
= link_to image_tag( 'ms_logo.png'), 'http://www.microsoft.com/university'
%br
%br
%dt <a href="http://www.tocomputers.com">Toronto Computers & GTA Cellular World</a>
%dd Toronto Computers is one of the oldest computer store that resides on College St. with over 20 years of experience dealing with local PC sales. Only three blocks away from St.George campus, this makes TO Computers THE BEST place on College St. to go to for your PC and Mac service needs. HA also partners with GTA Cellular World (same store) to bring you a huge selection of unlock phones and services. Mention Hacker Academy and get a discount on your purchase!
%br
= link_to image_tag( 'tocomputer_logo.jpg'), 'http://www.tocomputer.ca'
%br
%br
%dt <a href="http://engsoc.skule.ca">UofT Engineering Society</a>
%dd“Established in 1885, the Engineering Society is the student government for engineering students at SKULETM—the Faculty of Applied Science and Engineering at the University of Toronto. The Society, also known as EngSoc, provides services, funding, and countless extracurricular opportunities to over 4500 full-time members, proudly continuing the traditions and storied history of Canada's oldest and largest engineering school.”
%br


%br
%br
%h1 About Sponsorships
%p
  Interested in sponsoring Hacker Academy?  We can offer your organization a variety of services in return for sponsorship:

%dl
  %dt Logo Placements:
  %dd HA will display your corporate/organization logo across most of our distribution material to inform our members of your generosity (posters, website, social media, flyers)

  %dt Promotional Opportunities:
  %dd Advertise and hand out swag at our NET Talks, Dev Dojo, and other special events to promote your organization

  %dt Academic Relations:
  %dd Looking for talent? HA members are some of the most talented developers and future engineers at UofT. We can organize recruiting events in your name to acquire potential talent leads.

%h2 Useful Statistics
%ul
  %li Digest emails reach 5000 engineering students of all disciplines (Chemical, Electrical, Material Science, Civil, Industrial, Mechanical, Computer, Engineering Science, Mineral)
  %li Largest and oldest formal engineering organization in Canada
  %li PEY (Professional Experience Year) employs over 600 students in world’s top engineering companies such as Microsoft, AMD, IBM, Qualcomm, RIM, Altera, and Microsemi
  %li Bulletin boards spanning across 16 engineering buildings
  %li HA is composed mostly of Computer/Electrical, Engineering Science, and Computer Science students
  %li HA’s previous track record had over 100 members with no funding and seldom advertising. HA is optimistic on consistent membership growth over next year
  %li Club fair event houses existing students in addition to 1400 freshman

%p
  If you have any questions regarding sponsoring Hacker Academy, please <a href="/contact">contact us</a> and we will be looking forward to working with you and discuss opportunities that suits your interests!
