.featured
  %p
    NETtalks are a weekly series of short presentations about engineering and technology.
    They are prepared by HA members and guests. Our talks are open and flexible, so if you have something to share, <a href="/contact">let us know</a> and we'll schedule it in.

  %p
    The next session is on <em>Feb 28th</em> at <em>7pm</em> in <em>Room TDA</em>, featuring <em>Linux Terminal 101, by Roberto Bortolussi</em>.

  %p
    See our <a href="/schedule">schedule</a> for upcoming dates & topics, and our FAQ below for more information.



%h1 FAQ

%h2 What are NETtalks?
%p NETtalks are a series of talks organized by Hacker Academy to educate and inform students who wish to stay up to date with science and technology. The goals of NETtalks are:
%ul
  %li to increase technology awareness, especially for students in engineering and the applied sciences
  %li to improve public speaking skills
  %li to help people develop new skills and build up experience
  %li to bring together students who have common interests in technology

%h2 Why 'NET'?
%p NET stands for News, Engineering, and Technology.

%h2 Who is talking?
%dl
  %dt You
  %dd NETtalks welcome everyone and anyone with an interest in technology and engineering to talk about their experience and expertise.
  %dt HA Organizers
  %dd Don't feel like talking? HA organizers has a series of NETtalks prepared to keep you entertained.
  %dt Guest Speakers
  %dd HA invites guests to present their expertise and experience in the technology industry.

%h2 What Can I Talk About?
%dl
  %dt News
  %dd The most recent and update news in the world of technology

  %dt Technology
  %dd Educate the audience about some cool technology such as how it works, the design principles, market and business etc.
  %dt Educational Talk
  %dd Teach the audience something that they can use such as staring a web site, creating an iPhone app, build your own race car model, creating animation etc.

  %dt Experience
  %dd If the you have an expertise in something technical related, you can talk about your work, the environment, ethics, industry, entrepreneurial experience, life lessons and etc.

%p The format and presentation style is completely up to the speaker. We encourage the speaker to be as innovative as possible when presenting their topic. Look to <a href="http://www.ted.com">TED</a> and <a href="http://igniteshow.com/">Ignite</a> talks for inspiration.

%h2 I want to present a NETtalk, what do I do?

%p To sign up to deliver a talk, first <a href="#">contact</a> HA organizers with a topic and we'll get you up and running.

%p Use common sense when picking your topic. We encourage all talks to be technology and engineering related. Topics such as rumors, speculations, politics, sports, piracy, and questionable content should be avoided.
%p  HA tries to keep NETtalks as open as possible, but we need to make sure the content being presented is not misleading. All talks require legitimate sources; it can be an article you read, textbook material, newspaper, previous projects, etc.
