%h1 Listing posts

%table
  %tr
    %th
    - if user_signed_in?
      %th
      %th
  - @posts.each do |post|
    %tr
      %td= link_to post.title, post
      - if user_signed_in?
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete

%br

- if user_signed_in?
  = link_to 'New Post', new_post_path
