%header
  %h2.left= @post.title
  %span.controls
    - if can? :edit, @post
      = link_to 'Edit', edit_post_path(@post)
    - if can? :destroy, @post
      = link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete
%p.text.hypenate= @post.body

